a {
    display: block;
    width: 60px;
}

a, u {
    text-decoration: none;
}

body {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1.1em;
}

li {
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table  {
    width:100%;
    border-collapse: collapse;
}
td {
    height:50px;
    padding:15px;
    text-align:center;
    vertical-align:bottom;
}

th {
    height:50px;
    padding:15px;
    background-color:blue;
    color:white;
}

.zebra {
    background-color: #dddddd;
}

